@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

body {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    place-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(36, 36, 36);
    color: white;
  }
  h1 {
    margin-bottom: -3em;
  }
  
  .base-timer {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 10em;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 3px;
    stroke: rgb(22, 22, 22);
  }
  
  .base-timer__path-remaining {
    stroke-width: 3px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  #current_period {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-top: 2em;
  }
  